<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraping the News</a>
        <ul class="right" id="nav-mobile">
            <li>
                <a href="/scrape">Scrape it</a>
            </li>
            <li>
                <a href="https://github.com/Bcalderon400/newscraper" target="_blank">
                    <img src="/public/assets/img/github.png" alt="github"></a>
            </li>
        </ul>
    </div>
</nav>